@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Excon";
  src: url(./assets/fonts/Excon-Variable.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Excon", sans-serif;
  overscroll-behavior: auto;
  @apply bg-[#fff] tablet:bg-[#f0f0f0];
}

h1 {
  font-size: 64px;
  font-weight: 500;
}

h2 {
  /* font-size: 48px; */
  @apply text-[24px] tablet:text-[48px];
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  @apply text-[20px] font-[400] tablet:text-[20px] tablet:font-[500];
}

h5 {
  font-size: 20px;
  font-weight: 200;
}

p {
  /* font-size: 18px; */
  color: #060811b0;
  font-weight: 300;
  @apply text-[16px] tablet:text-[18px];
}

/*buttons classes*/

.app_container {
  @apply static tablet:bg-[#f0f0f0];
}

.app_body {
  /* @apply container relative mx-auto mb-9 mt-20 flex flex-col items-start gap-[56px] tablet:flex-row laptop:justify-between; */
  @apply container relative mx-auto mb-9 mt-20 flex flex-col items-start gap-[56px] px-[24px] tablet:flex-row laptop:justify-between;
}

.primary_button {
  @apply w-full cursor-pointer rounded-[15px] bg-orange-clr px-6 py-[10px] text-center text-white hover:bg-opacity-50;
}

nav {
  @apply sticky z-10 h-fit w-full bg-white px-[24px] py-[18px];
}

.nav_items {
  @apply container mx-auto flex items-center justify-between;
}

.nav_items ul {
  @apply hidden items-center gap-8 text-[15px] font-normal tablet:flex;
}

ul li {
  cursor: pointer;
}

.step_progress_container {
  @apply left-0 top-10 flex max-w-full flex-col items-center gap-12 rounded-[10px] tablet:sticky tablet:w-[376px] tablet:max-w-full tablet:bg-white tablet:px-7 tablet:pt-8;
}

.step_item {
  @apply relative flex items-center justify-start gap-6;
}

.step_item:not(:first-child):before {
  @apply absolute -top-4 right-[89.9%] h-[2px] w-[10.2%] rotate-90 bg-[#06081133] content-[''];
}

.template_module_container {
  @apply flex flex-col gap-[6px] rounded-[10px] bg-white;
}

.template_module_container .choose_template_button {
  @apply mx-1 my-2 flex cursor-pointer items-center justify-center rounded-lg bg-[#06081114] p-2;
}

/* .event_info_form {
  @apply max-w-[479px];
} */

.event_info_form {
  @apply max-w-full;
}

.inputs {
  @apply w-full rounded-[15px] border-[1px] border-[#06081121] bg-white px-6 py-[10px] font-light text-black-clr focus:outline-none disabled:opacity-40;
}

.event_info_form label {
  @apply text-base font-normal text-black-clr;
}

.field_set_div {
  @apply flex w-full flex-col gap-2;
}

.event_description_textarea {
  @apply w-full resize-none rounded-[15px] border-[1px] bg-white px-6 py-[10px] font-light text-black-clr focus:outline-none;
}

.event_schedule_container {
  @apply space-y-6;
}

.select_schedule_container {
  @apply mt-6 flex max-w-full flex-wrap items-center justify-between rounded-[15px] bg-[#F4F4F4] p-2;
}

.select_schedule_container .schedule_period {
  @apply w-[120px] cursor-pointer rounded-[10px] border-[1px] border-[#F0F0F0] px-2 py-2 text-center text-base font-normal text-black-clr;
}

.selected_schedule_period {
  @apply bg-white;
}

.event_schedule_duration {
  @apply flex w-full flex-col items-center gap-8 laptop:flex-row;
}

.payment_info_container {
  @apply flex max-w-full flex-col gap-[22px];
}

.payment_info_container label {
  @apply font-normal;
}

.share_link_container {
  @apply flex w-full flex-col gap-8;
}

.select_method_div {
  @apply mt-2 flex h-[54px] w-full items-center justify-around rounded-[15px] border-[1px] border-[#0608110D] bg-[#F0F0F0] p-1;
}

.select_method_div span {
  @apply w-1/2 cursor-pointer rounded-[10px] border-[1px] border-[#F4F4F4] px-2 py-1 text-center;
}

.select_method_div .selected_method {
  background: white;
}

.send_email_form {
  @apply flex flex-col gap-3;
}

.email_list_container {
  @apply flex h-fit max-w-[479px] flex-wrap gap-3 rounded-[15px] px-6 py-2;
}

.email_list_container span {
  @apply flex items-center justify-center gap-3 rounded-full border-[1px] border-[#E9E9E9] bg-[#F7F6F9] px-2 py-1 font-light text-black-clr;
}

.signin_btn {
  @apply flex w-full cursor-pointer items-center justify-center rounded-[15px] px-6 py-[10px] hover:bg-opacity-50;
}

.signin_bg_overlay {
  @apply fixed inset-0 z-50 grid cursor-pointer place-items-center overflow-y-scroll bg-black/10 p-8 backdrop-blur;
}

.signin_container {
  @apply relative w-full max-w-lg cursor-default overflow-hidden rounded-[20px] bg-white px-4 py-16 shadow-xl tablet:px-14;
}

.icon_text_block {
  @apply flex items-center gap-2 text-[12px] tablet:text-base;
}

.current_preview {
  @apply absolute inset-0 h-3 rounded-t-[10px] bg-orange-clr;
}
